@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nubo-primary: #38B1E4;
    --nubo-primary-dark: #024F86;
    --nubo-warning: #FFB800;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply text-nubo-text-head;
    /* Impede scroll horizontal em mobile */
    overflow-x: hidden;
  }
}

@layer utilities {
  /* Safe area para Bottom Nav no iOS */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
